@require 'constants'

header
  fixed left top right
  min-height  40px
  box-shadow  0 1px SOLITUDE
  z-index     99999999999999999
  background  white
  .action
    absolute right 6px top 6px
    width 27px
    height 27px
    border-radius 100%
    background-color rgba(FLUSH, .1)
    background-position 50% 50%
    background-repeat no-repeat
    cursor default
  .title
    absolute left 50px top 13px right 50px
    font-size 14px
    text-align center
    line-height 16px

main
  fixed left top 40px right bottom
  overflow-y auto

.dev-menu
  opacity 0
  fixed bottom 5px left 5px right 5px
  padding 3px
  background rgba(white,.8)
  color OXFORD
  font-size 10px
  text-transform uppercase
  font-weight 500
  border-radius 2px
  transition .2s
  &:hover
    opacity 1
