@require 'constants'
global-reset()

html
  box-sizing border-box

body
  font-family 'Helvetica Neue'
  color OXFORD

header
  fixed left top
  min-height  40px
  box-shadow  0 1px SOLITUDE
  width       100%
  z-index     99999999999999999
  background  white

*
*:before
*:after
  box-sizing inherit
