@require 'constants'
global-reset()

html
  box-sizing border-box

body
  font-family 'Helvetica Neue'
  color OXFORD

header
  fixed left top
  min-height  40px
  box-shadow  0 1px SOLITUDE
  width       100%
  z-index     99999999999999999
  background  white
  text-align  center

input
  background transparent
  border none

*
*:before
*:after
  box-sizing inherit

.main-button
  width 100%
  background FLUSH
  display block
  color WHITE
  font-weight 200
  font-size 22px
  line-height 27px
  border none
  cursor pointer
  height 54px

.main-padding
  padding 0 20px