@import '../../styles/constants'

.datepicker
  &.isOpen
    .calendar
      max-height 500px
      visibility visible
  .calendar
    overflow hidden
    visibility hidden
    transition .25s
    padding 0 20px 20px
    background #FAFAFA
    width 100%; max-height 0
    border-bottom 1px solid superlight
    box-shadow 0 -1px superlight
    z-index 0; margin-top -1px
    .title
      height 17px
      margin-top 17px
      position relative
      width 100%
      text-align center
      .month-title
        font-size 14px
        font-weight 500
        position relative
        line-height 17px
        z-index 2
      .prev
      .next
        z-index 1
        absolute top
        width 50%
        height 100%
        background-image url('img/dp-prev.svg')
        background-repeat no-repeat
        background-position 20px center
      .next
        right 0
        background-image url('img/dp-next.svg')
        background-position 115px center

    .weekdays
      font-size 11px
      text-transform uppercase
      color light
      font-weight 500
      width 100%
      text-align center
      height 13px
      margin-top 21px
      span
        display inline-block
        width 14.285714%
        line-height 13px

    ul
      width 100%
      margin-top 8px
      text-align center
      li
        display inline-block
        height  30px
        width 14.285714%
        line-height 30px
        cursor default
        &:hover
          background rgba(main-color, .05)
          color main-color
        &.other-month
          visibility hidden
        &.inactive
          color light
        &.active
          color main-color
          box-shadow inset 0 0 0 2px main-color
          font-weight 500
