@import '../../styles/constants'

header.timeline
  height 90px
  .action
    background-image url('img/add.svg')
  .timeline
    width 17px; height 17px
    icon('timeline')
  .projects
    icon('projects')
  .archive
    icon('archive')

  .dateribbon-wrap
    absolute left bottom right
    height 40px
    overflow-x auto
    overflow-y hidden
    ::-webkit-scrollbar
      display none
    .dateribbon
      padding-left 20px
      white-space no-wrap
      display inline-block
      position relative
      height 19px; top 10px
      li
        display inline-block
        margin-right 20px
        color light
        height 19px
        text-transform uppercase
        text-decoration none
        position relative
        cursor default
        .date
          font-size 13px
        .weekday
          font-size 10px
          font-weight 500
        &:first-child
          padding-left 2px
        &.active
          color main-color
          &:before
            absolute left -10px bottom -10px
            right -10px; height 2px
            background main-color
            content ''

main.timeline
  overflow-y auto
  top 90px
  .list
    overflow-y auto
    li
      display block
      height 70px
      position relative
      thin-border()
      &:hover
        background #FCFCFC
      &.-active
        &:before
          absolute left top
          background main-color
          height 100%; width 2px
          content ''
        .worked-earned
          color main-color
      .worked-earned
        absolute left top
        height 100%; width 70px
        position relative
        color dark
        .worked
          absolute left 20px top 15px
          font-weight 500
          line-height 19px
      a
        absolute left 75px top right
        text-decoration none
        display block
        height 100%
        .title
          absolute left top 20px
          font-weight 600
          color black
          line-height 16px
          font-family sec-font
        .info
          absolute left top 35px
          color dark
          line-height 19px
