@import '../../styles/constants'

.new-task
  background white
  width 100%

.row
  height 60px
  box-shadow inset 0 -1px SOLITUDE
  input
    width 100%
    height 100%
    background rgba(red,.1)
    border none
    font-size 14px
    font-weight 500
    font-family FONT
  label
    absolute left top 22px
    color SLATE